---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import BreadCrumb from "../components/BreadCrumb.astro"
import BlogPost from "../components/BlogPost.astro"
const allPosts = await getCollection("posts")
const pageTitle = "The Blog Archive"

/* sort the posts by newest to oldest */
allPosts.sort(
  (a, b) =>
    Date.parse(b.data.pubDate.toString()) - Date.parse(a.data.pubDate.toString())
);
---

        
<BaseLayout pageTitle={pageTitle}>
    <BreadCrumb name1="Posts" url1="/blog/" />
    <h1 transition:animate="slide" class="text-3xl font-bold text-center font-anton pt-4">{pageTitle}</h1>
        <p class="text-center py-4 md:py-8">Posts newest to oldest</p>
        <div class="py-4 mx-auto">
          <ul class="px-4 md:px-0">
            {allPosts.map((post) => (<BlogPost url={`/posts/${post.slug}`} title={post.data.title} pubDate={post.data.pubDate.toString().slice(0,15)}></BlogPost>))}
          </ul>
        </div>

</BaseLayout>       
